<!-- <div class = "recordPanel">
	<canvas id="analyser" width="300" height="100"></canvas><br>
	<canvas id="wavedisplay" width="300" height="100"></canvas><br>
	<img id="record" width="128" height="128" src="http://webaudiodemos.appspot.com/AudioRecorder/img/mic128.png" onclick="toggleRecording(this);"><br>
	<img src="http://webaudiodemos.appspot.com/AudioRecorder/img/save.svg" onclick="saveAudio();">

</div> -->
<script type="text/javascript">
	$('#datetime').datetimepicker();
</script>

<div class = "leftpanel">
	<%= link_to "Edit",   edit_user_registration_path %>
</div>
<div class = "reminderform">
	<div class = "rightpanel">
		<div class = "recordPanel">
			<canvas id="analyser" width="100" height="20" float:"left"></canvas><br>
			<canvas id="wavedisplay" width="100" height="20" float:"left"></canvas><br>
			<div class = "record" id = "record" onclick = "toggleRecording(this)">Record</div>
			<img src="http://webaudiodemos.appspot.com/AudioRecorder/img/save.svg" onclick="saveAudio();">
			<div><input type = "text" name = "datetime" id = "datetime"></div>

		</div>
	</div>

</div>
