<style>
	canvas { display: inline-block; background: #202020}
	#record.recording { background-color: #C0392B;}
	</style>

<script src="audiodisplay.js"></script>
<script src="audiomain.js"></script>
<script src="recorder.js"></script>
<script src="recorderWorker.js"></script>
<script src="filepicker.js"></script>
<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src = "jquery-slider.js"></script>
<script type="text/javascript" src = "timepicker.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css">


<script type="text/javascript">
	filepicker.setKey('AAoCmvNKRH2TwuUHkVp81z');
</script>


<body  >

<div class ="main" >
	
	<% if user_signed_in? %>

	<%= render 'main' %>

	<% else %>
	<div class = "infobox"></div>
	<div class ="info">
		<p >Growing immune to the incessant <span style ="color: #C0392B;font-size:24px"><em>buzz</em></span> of your phone? </p>

			<br/>
		<p style = "margin-left:20px;font-size:16px; opacity:0.8;width:350px">Voiced gives you your reminders in the form of a phone call so that you are less inclinde to ignore them. Set reminders for today, next week, and even for your friends! </p> 
		<div id = "mainbutton">

		<div class = "redbutton"><%= link_to "GET STARTED!", new_user_registration_path %></li></div>
	</div>
	</div>

	<img src = '../v5.png' style = "z-index:-100;background-image:url('../v4.jpg');background-repeat:none ;float:right;position;fixed;opacity:0.8"/>

	<% end %>
</div>

</body>