<style>
	canvas { display: inline-block; background: #202020}
	#record.recording { background: red;
	background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,gray 75%,gray 100%,#7db9e8 100%); }
	</style>

<script src="audiodisplay.js"></script>
<script src="audiomain.js"></script>
<script src="recorder.js"></script>
<script src="recorderWorker.js"></script>
<script src="filepicker.js"></script>
<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
<script type="text/javascript">
	filepicker.setKey('AAoCmvNKRH2TwuUHkVp81z');
</script>


<body  >

<div class ="main" >
	
	<% if user_signed_in? %>

	<%= render 'main' %>

	<% else %>
	<div class = "infobox"></div>
	<div class ="info">
		<p >Immune to the incessant <span style ="color: #C0392B;"><em>buzz</em></span> of your phone? Losing track of all your reminders in the midst of
			useless notifications?</p> 
			<br/>
		<p style = "font-size:16px; opacity:0.8;">Voiced lbahlbhalhblahbalh product description long whindyael;ja;eijfa weeee 1!! odaifmoae so good</p> 
		<br />
		<div id = "mainbutton">
		<div class = "redbutton"><%= link_to "GET STARTED!", new_user_registration_path %></li></div>
	</div>
	</div>

	<img src = '../v4.png' style = "z-index:-100;background-image:url('../v4.jpg');background-repeat:none ;float:right;position;fixed;opacity:0.8"/>

	<% end %>
</div>

</body>