/*******  CUSTOM FONT SET UP******/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,600,800,700,300);

/******* NAVIGATION BAR *******/

html{
	margin: 0px;
	padding:0px;
	left: 0;
    right: 0;
}
.body{
	font-family: Arial;
	margin: 0px;
	padding: 0px;
	background-color: #F4F4F4;
	position: relative;
}

canvas{
	background-color:#232323 ;
	border:0.5px solid #fff;
}
.nav{
	
	width: 100%;
	height:20px;
}
.navbar{
	float: right;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	height:60px;
}
.navbar .nav li a {
	color:#2980B9;
}

.navbar .nav li a:hover {
	color: #3E8AB5;
}

.navbar .nav li{
	float:right;
	vertical-align: center;
	margin-top: 10px;
}
.navbar-inner li{
	text-decoration: none;
	list-style: none;
	float:right;
	margin-top: 10px;
	padding-left: 10px;
	font-family: 'Open Sans';
	padding-right: 10px;
}

.navbar li a{
	text-decoration: none;
	float: right;
}
.navbar .navbar-inner {
	opacity: 0.8;
    background-color: #ECF0F1;
    background-image: none;
}


/******* MAIN BLOCK *******/

.main{
	font-family: 'Open Sans';
	background-color:#F4F4F4;
}

.info{
	z-index: 1000;
	position: absolute;
	font-size: 24px;
	padding: 20px;
	line-height: 26px;
	margin: 100px;

	background-color: #F4F4F4;
	opacity: 0.8;
	height: 350px;
	width: 400px;
	border-radius: 5px;
}

.info p{
	z-index: 1500;
	text-align: center;
	margin-top: 20px;
	text-align: center;
}
.redbutton{
	padding:20px;
	width: 180px;
	height: 20px;
	z-index: 1500;
	position: absolute;
	color:white;
	vertical-align: central;
	text-align: center;
	border-radius: 8px;
	opacity: 0.9;
	background-color: #E74C3C;
}
.redbutton a{
	color:white;
	vertical-align: central;

	text-decoration: none;
	text-align: center;
}

#create_reminder{
	background-color: #2980B9;
	min-width: 100px;
	border: none;
	border-radius: 6px;
	padding: 5px;
	color:#ffffff;
	font-size: 18px;
}
.bluebutton{
	background-color: #2980B9;
	min-width: 100px;
	border: none;
	border-radius: 6px;
	padding: 10px;
	color:#ffffff;
	font-size: 18px;
}
.newreminder{
	background-color: #2980B9;
	min-width: 100px;
	border-radius: 6px;
	color:#ffffff;
	opacity: 0.9;
	padding: 5px;
}

#mainbutton{
	position: absolute;
	margin-left: 80px;
	margin-top: 40px;
}

/******* PANELS *******/

.leftpanel, .rightpanel{
	padding:10px;
	margin: 20px;
	margin-left: 30px;
	border-radius: 5px;
	/*background-color: #f4f4f4;*/
	float: left;
}

.leftpanel{
	margin: 30px;
	margin-left: 30px;
	height: 400px;
	width: 300px
}

.rightpanel{
	margin: 30px;
	height: 400px;
	width: 600px
}

.record{
	float:left;
	width: 60px;
	margin: 5px;
	padding: 5px;
	height: 20px;
	border-radius: 3px;
	text-align: center;
	background-color: #2980B9;;
	color:white;
	font-size: 14px;
	margin-bottom: 10px;
}

.save{
	float:left;
	width: 60px;
	margin: 5px;
	padding: 5px;
	height: 20px;
	border-radius: 3px;
	text-align: center;
	background-color: #2980B9;;
	color:white;
	margin-bottom: 10px;
	font-size: 14px;
}
/******* FORMS *******/

.formcontainer{
		background-color:#f5f5f5;
	 max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        margin-top: 30px;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
}
.newrecord{
	margin:10px;
	padding: 10px;
	display:none;
	text-align: center;
}
.form-signin{
	text-align: center;
}

.feed-item {
	border-bottom: 1px solid rgba(0,0,0,.2);
	margin-bottom: 3px;
	background-color: #eee;
	height: 60px;
}

.feed-item:first {
	border-top: 1px solid rgba(0,0,0,.2);
}

.feed-item:hover {
	background-color: #ddd;
	border-top: 1px solid rgba(0,0,0,.3);
	border-bottom: 1px solid rgba(0,0,0,.3);
}

.feed-icon {
	margin: 5px 0 0 10px;
	background-position: 5px 5px;
	padding: 5px;
	width: 40px;
	height: 40px;
}

.feed-content {
	margin: 5px 60px 0px 10px;
}
#ui-datepicker-div { display: none; }
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

div.ui-datepicker{
 font-size:10px;
 margin-top: 100px;
 width: 200px;

}
